.header-bg{
    background-color: #F6F5F2;
}

//card
.card-color{
    background-color: #eaeaea !important;
    border: 1px ;
    border-color: #d6d6d6;
    background-image: none;
}
.card-body{
    background-color: #eaeaea !important;
}
.card-btn{
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-color: #215D8A;
border-radius: 2px;
}
//clear cart
.clear-btn{
    color: #215D8A;
    border-color: #215D8A;
}

//footer
.footer-bg{
    background-color: #343a40;
    color: #f8f9fa;
}
.footer-bg:hover{
    color: #fff;
}


